export GO111MODULE=on
export DB_URI=postgres://kewpie:wut@localhost:5432/kewpie?sslmode=disable
export KEWPIE_BACKEND=postgres
export PORT=8080
export KEWPIE_QUEUE_test=test
export KEWPIE_QUEUE_pubtest=pubtest
export KEWPIE_QUEUE_purgetest=purgetest
export KEWPIE_QUEUE_purgematchingtest=purgematchingtest
export KEWPIE_QUEUE_tagstest=tagstest
